
/NEASL.Base/obj
/NEASL.Base/bin
/NEASL/bin
/NEASL/obj
/NEASL.ControlSystem/obj
/NEASL.ControlSystem/bin
/NEASL.TEST_GUI/bin
/NEASL.TEST_GUI/obj

.DS_Store
/NEASL.Test/bin
/NEASL.Test/obj
NEASL/.DS_Store
